aioimaplib
annotated-types
anyio
certifi
charset-normalizer
click
colorama
dnspython
ecdsa
fastapi>=0.75.0
filelock
fsspec
h11
httpcore
httpx
huggingface-hub
idna
jsonpatch
jsonpointer
langchain-core
langchain-ollama
langsmith
numpy
ollama
orjson
pandas
packaging
pyasn1
pydantic
pydantic_core
python-jose
python-multipart
PyYAML
regex
requests
requests-toolbelt
rsa
safetensors
six
sniffio
starlette
tenacity
tokenizers
tqdm
transformers
typing-inspection
typing_extensions
urllib3
uvicorn
zstandard
blis
spacy
textblob
vaderSentiment
torch
streamlit
